    .seleciona_personagen {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -ms-flex-align: center;
        -webkit-align-items: center;
        -webkit-box-align: center;
        align-items: center;
    }
    
    .seleciona_personagen button {
        border: 4 solid black;
        height: 100vh;
        width: 33.3333%;
    }
    
    .seleciona_personagen button span {
        position: relative;
        top: 70%;
        font-size: 40px;
        opacity: 0.7;
    }
    
    .seleciona_personagen button span:hover {
        opacity: 1;
    }
    
    .seleciona_personagen button img {
        margin-left: -10%;
        width: 100%;
        height: 60%;
    }
    
    .bloco1,
    .bloco2,
    .bloco3,
    .bloco4 {
        position: absolute;
    }
    
    .bloco1 {
        width: 28%;
        height: 10%;
        background-color: brown;
        font-size: 40px;
    }
    
    .bloco1 {
        left: 70%;
        top: 17%;
        text-align: center;
        padding-top: .5%;
    }
    
    .bloco2 {
        height: 58vh;
        width: 33.3333%;
        left: 33.3333%;
        top: 10%;
    }
    
    .bloco3 {
        left: 33.3333%;
        top: 76%;
        text-align: center;
        padding-top: .5%;
        width: 33.3333%;
        height: 10%;
        background-color: brown;
        font-size: 40px;
    }
    
    .bloco4 {
        width: 30%;
        height: 10%;
        background-color: aqua;
    }